.form {
  width: var(--widthDesktop);
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--mainColor);
  gap: 10px;
  flex-wrap: wrap;
}

.input {
  border: none;
  padding: 10px 15px;
  width: 100%;
  font-size: 18px;
}

.submit {
  cursor: pointer;
  border: 1px solid var(--mainColor);
  padding: 10px;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s linear;
  color: white;
  font-size: 25px;
}

.submit:hover {
  background-color: rgba(128, 128, 128, 0.3);
  color: rgb(148, 218, 141);
}

.error {
  border: 2px solid red !important;
}

@media (max-width: 899px) {
  .form {
    width: var(--widthTablet);
  }
}

@media (max-width: 499px) {
  .form {
    width: var(--widthMobile);
  }
}
