:root {
  --mainBgColor: #282c34;
  --mainColor: #8a8686;
  --greenColor: #1ea41e;
  --redColor: #ff000099;
  --widthDesktop: 50%;
  --widthTablet: 70%;
  --widthMobile: 90%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--mainBgColor);
  color: white;
}

header {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

main {
  flex: 1;
}

footer {
  padding: 20px 10px;
  text-align: center;
}
