.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

main {
  flex: 1;
}

header,
footer {
  padding: 20px 10px;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoItem {
  display: flex;
  gap: 10px;
  padding: 15px 10px;
  /* flex-direction: column; */
  width: 50%;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed;
}

.content {
}

.buttons {
  display: flex;
  gap: 10px;
}

.red {
  background-color: rgba(255, 0, 0, 0.5);
}
.green {
  background-color: rgba(30, 255, 0, 0.5);
}

.completed {
  /* text-decoration: line-through; */
  background-color: rgba(0, 128, 0, 0.171);
}
